<section class=" container-fluid d-flex minh-25vh bg-light align-items-center py-5 border-top">
    <div class="row mx-0 w-100">
        <div class="col-11 col-sm-9 col-md-7 mx-auto d-flex align-items-center">
            <dl class="w-100 text-start">
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
                <dt class="dispaly-6 fw-bold text-secondary mb-2">
                    Lorem ipsum dolor
                </dt>
                <dd class="text-muted mb-4">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam, quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. 
                </dd>
            </dl>
        </div>
    </div>
</section>