$prefix: "../../../assets/";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__events-img: $prefix+"img/events/events-s1.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__mission-img: 
    $prefix+"img/mission/mission-s1.jpg",
    $prefix+"img/mission/mission-s2.jpg",
    $prefix+"img/mission/mission-s3.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__team-img: $prefix+"img/team/team-s1.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "events",
    "index",
    "mission",
    "privacy",
    "team",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__events-img,
    $bg__index-img,
    $bg__mission-img,
    $bg__privacy-img,
    $bg__team-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;